test-ledger/rocksdb/* filter=lfs diff=lfs merge=lfs -text
test-ledger/*.log filter=lfs diff=lfs merge=lfs -text
anchor/test-ledger/* filter=lfs diff=lfs merge=lfs -text
anchor/test-ledger/rocksdb/* filter=lfs diff=lfs merge=lfs -text
